<% provide(:title, 'ABOUT') %>
<h1>ABOUT GYMXYZ</h1>
<hr>
<p>GYMXYZ was started in 2010 by Jenny Lawlor. Jenny found her love for fitness after a serious injury that left her unable to walk for 6 months. This experience ignited a fire inside Jenny to use her body to its fullest potential. And she wanted to share that fire with as many people as she could. I hope you're one of them!
</p>
<p>
  
</p>
